.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* margin-top: 20px; */
    /* min-height: 50vh; */
}
.content>h2
{
    margin-bottom: 20px;
    color: #5478c5;
    font-size: 40px;
    }       
.user
{
    line-height: 1.5rem;
}